<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css">
    <link rel="icon" type="image/x-icon" href="message-icon.svg">
    <title>Message Board</title>
  </head>
  <body>
    <%- include('navBar',{links:links}) %>

    
    <div class="messages-container">
        <% messages.map((m) => { %>
            <div class="message">
                <h6><%= m.user %></h6>
                <p><%= m.text %></p>
                <h6><%= m.added %></h6>
            </div>
       <%  }) %>
    </div>
  </body>
</html>
